* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FEF8F5;
}




/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  html {
    font-size: 12px !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 12px !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 12px !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
  html {
    font-size: 12px !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}